<h1>タスク一覧</h1>

<table>
  <tr>
    <th>名称</th>
    <th>登録日時</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task_path(task) %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: "タスク「#{task.name}」を削除します。よろしいですか？"} %></td>
    </tr>
  <% end %>
</table>
<%= link_to '新規登録', new_task_path %>