<!DOCTYPE html>
<html>
  <head>
    <title>Taskmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-light p-4 border-bottom" style="background-color: #fdeff2; ">
      <div class="container">
          <a class="nav-barbrand" style="color:black;"><span>Taskmate</span></a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
          </ul>
        </div>
      </div>
    </nav>

    <% if flash.notice.present? %>
      <div class="container alert alert-success my-2">
      <%= notice %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
